.z4frame {
}

.z4ribbon {
}

.z4ribbonfilepanel {
}

.z4exporttofilepanel {
}

.z4ribbonsettingspanel {
}

.z4canvas {
  overflow: scroll;
  display: grid;
  grid-template: "c";
  place-items: center;
  background: #DDDDDD;
}
