/* GENERAL */
.dropdown-multicol .dropdown-multicol-row .dropdown-item {
  display:inline-block;
  width: 32%;
}

/* SIGNED VALUE */
.signed-value-input-group.sign-not-visible .signed-value-sign-button {
  display: none;
}
.signed-value-input-group.sign-not-visible .signed-value-range-minus {
  border-top-left-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
}
.signed-value-input-group.sign-not-visible .signed-value-compact-button {
  border-top-left-radius: 0.2rem !important;
  border-bottom-left-radius: 0.2rem !important;
}