.z4frame {
}

.z4ribbon {
  min-height: 10.5rem;
}

.z4ribbonfilepanel {
}

.z4newimagepanel {
}

.z4exporttofilepanel {
}

.z4ribbonlayerpanel {
}

.z4ribbonsettingspanel {
}

.z4statuspanel {
}

.z4canvas {
  overflow: scroll;
  display: grid;
  grid-template: "c";
  place-items: center;
  background: #DDDDDD;
}
.z4canvas canvas {
  background-image: url(../image/chessboard.png);
}
