/*GENERAL*/
.z4-dark {
  background: #121212;
  color: rgba(255,255,255,.87);
}
.z4-dark .modal-content {
  background: #121212;
  border: 1px solid rgba(255,255,255,.3);
}
.z4-dark .modal-backdrop {
  background-color: #666;
}

.z4-dark .table {
  color: #DEDAD6;
}

.z4-dark .dropdown-menu {
  background: #121212;
  color: #DEDAD6;
  border: 1px solid rgba(255,255,255,.2);
}
.z4-dark .dropdown-item {
  color: #DEDAD6;
}
.z4-dark .dropdown-item:focus, .z4-dark .dropdown-item:hover {
  color: #E1DEDA;
  background-color: #2f3337;
}
.z4-dark .dropdown-item:disabled {
  color: #524A42;
}

.z4-dark .form-check-input {
  background-color: #121212;
  border: 1px solid rgba(255,255,255,.25);
}
.z4-dark .form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}
.z4-dark .form-switch .form-check-input {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(255, 255, 255, 0.25)'/></svg>");
}
.z4-dark .form-switch .form-check-input:checked {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'><circle r='3' fill='rgba(255, 255, 255, 1)'/></svg>");
}

/*DROP DOWN*/
.z4-dropdown-toggle-three-dots {
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: transparent;
}
.z4-dropdown-toggle-three-dots::after {
  content: none;
}