/* GUIDED TOUR */
.z4-guided-tour {
  animation: z4-guided-tour-blinking 2s infinite;
}
@keyframes z4-guided-tour-blinking {
  0% {

  }
  50% {
    background-color: rgb(13, 202, 240);
  }
}
label.z4-guided-tour {
  flex: 1;
  border-radius: 6px;
  padding: 6px;
}

/* DROP DOWN */
.z4-dropdown-toggle-three-dots {
  padding-top: 0px;
  padding-bottom: 0px;
  border-color: transparent;
}
.z4-dropdown-toggle-three-dots::after {
  content: none;
}

/* NUMBER */
.sign-label-not-visible, .sign-toggle-not-visible {
  display: none;
}
.sign-label-never-visible, .sign-toggle-never-visible {
  display: none !important;
}

/* FANCIFUL VALUE */
.fanciful-container-horizontal {
  flex-direction: row;
  align-items: center;
  gap: 4px;
}
.fanciful-container-vertical {
  flex-direction: column;
}
.fanciful-container-vertical > div {
  width: 100%;
}

.toggle-uniform::after {
  vertical-align: 0.254em;
}

.uniform-container-not-visible,
.uniform-check-not-visible, .uniform-label-not-visible,
.fanciful-random-not-visible , .fanciful-proportional-not-visible {
  display: none;
}