.z4frame {
}

.z4ribbon {
  min-height: 10.5rem;
}

.z4ribbonfilepanel {
}

.z4newimagepanel {
}

.z4exporttofilepanel {
}

.z4ribbonlayerpanel {
}

.z4ribbonsettingspanel {
}

.z4ribbonhelppanel {
}
.z4ribbonhelppanel-about .z4ribbonhelppanel-splash {
  content: url(../image/splash.png);
}
.z4ribbonhelppanel-about p, .z4ribbonhelppanel-about ul {
  margin: 5px 0px 0px 0px;
}

.z4statuspanel {
}

.z4canvas {
  overflow: scroll;
  display: grid;
  grid-template: "c";
  place-items: center;
  background: #DDDDDD;
}
.z4canvas canvas {
  background-image: url(../image/chessboard.png);
}

.z4gradientcolorpanel canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/chessboard.png);
}
