.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .fanciful-proportional input{
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-false .uniform-container {
  display: none;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .fanciful-proportional .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}










.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-true {
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-false {
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false.u-true {
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false.u-false {
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-true {
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false {
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true {
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false {
}
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-true {
}
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-false {
}
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false.u-true {
}
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false.u-false {
}
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true {
}
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false {
}
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-true {
}
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-false {
}
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false.u-true {
}
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false.u-false {
}
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true {
}
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false {
}
.z4-pro .cv-true.rv-false.pv-false.csv-true.u-true {
}
.z4-pro .cv-true.rv-false.pv-false.csv-true.u-false {
}
.z4-pro .cv-true.rv-false.pv-false.csv-false {
}
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-true {
}
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false {
}
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-true {
}
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false {
}
.z4-pro .cv-false.rv-true.pv-false.rsv-true {
}
.z4-pro .cv-false.rv-true.pv-false.rsv-false {
}
.z4-pro .cv-false.rv-false.pv-true.psv-true {
}
.z4-pro .cv-false.rv-false.pv-true.psv-false {
}

.z4-pro .cv-false.rv-false.pv-false {
  display: none !important;
}


/*





.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-true .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-true .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-true .fanciful-costant input,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-true .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-false .fanciful-random .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-true-u-false .fanciful-random .sign-button {
  display: none;
}

.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .fanciful-random .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .fanciful-random .sign-button,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .fanciful-proportional .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-true .fanciful-proportional .sign-button {
  display: none;
}

.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .fanciful-random .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .fanciful-random .sign-button,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .fanciful-proportional .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-true-rsv-false-psv-false-u-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-true .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-true .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-true .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-true .fanciful-costant .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-true .fanciful-costant .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-false .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-false .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-false .fanciful-costant .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-false .fanciful-costant .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-true-u-false .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .fanciful-costant .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .fanciful-costant .sign-button,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .fanciful-proportionalo .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .fanciful-costant input,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-true .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .fanciful-costant .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .fanciful-costant .sign-button,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .fanciful-proportionalo .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .fanciful-costant input,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-true-psv-false-u-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .fanciful-costant .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .fanciful-costant .sign-button,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .fanciful-random .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .fanciful-random .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .fanciful-costant .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .fanciful-costant .sign-button,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .fanciful-random .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .fanciful-random .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-true-u-false .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .fanciful-costant input,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-true .fanciful-proportional input{
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .uniform-check,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .uniform-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .sign-label,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .sign-button {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .fanciful-costant input,
.z4-pro .cv-true-rv-true-pv-true-csv-false-rsv-false-psv-false-u-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-false-csv-true-rsv-true-psv-true-u-true .sign-label,
.z4-pro .cv-true-rv-true-pv-false-csv-true-rsv-true-psv-true-u-true .sign-button,
.z4-pro .cv-true-rv-true-pv-false-csv-true-rsv-true-psv-true-u-true .fanciful-proportional {
  display: none;
}
.z4-pro .cv-true-rv-true-pv-false-csv-true-rsv-true-psv-true-u-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true-rv-true-pv-false-csv-true-rsv-true-psv-true-u-false .uniform-container,
.z4-pro .cv-true-rv-true-pv-false-csv-true-rsv-true-psv-true-u-false .fanciful-proportional {
  display: none;
}*/