.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-true .fanciful-proportional input{
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-true.u-false .uniform-container {
  display: none;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-true .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .fanciful-proportional .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-true.psv-false.u-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-true .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-true .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-true .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-true .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-false .fanciful-random .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-true.u-false .fanciful-random .sign-button {
  display: none;
}

.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false.form-check,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false .fanciful-random .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false .fanciful-random .sign-button,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false .fanciful-proportional .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-true.rsv-false.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-true.form-check,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-true .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-true .fanciful-costant .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-true .fanciful-costant .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false.form-check,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .fanciful-costant .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .fanciful-costant .sign-button,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .fanciful-proportional .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-true.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true.form-check,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true .fanciful-costant .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true .fanciful-costant .sign-button,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true .fanciful-random .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true .fanciful-random .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false.form-check,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false .sign-label,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false .sign-button {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false .fanciful-costant input,
.z4-pro .cv-true.rv-true.pv-true.csv-false.rsv-false.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-true .sign-label,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-true .sign-button,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-true .fanciful-proportional {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-true.u-false .fanciful-proportional {
  display: none;
}

.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false.form-check,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false .fanciful-random .sign-label,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false .fanciful-random .sign-button,
.z4-pro .cv-true.rv-true.pv-false.csv-true.rsv-false .fanciful-proportional {
  display: none;
}

.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true.form-check,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true .uniform-container,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true .fanciful-costant .sign-label,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true .fanciful-costant .sign-button,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true .fanciful-proportional {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false.form-check,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false .uniform-container,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false .sign-label,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false .sign-button,
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false .fanciful-proportional {
  display: none;
}
.z4-pro .cv-true.rv-true.pv-false.csv-false.rsv-false .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-true .sign-label,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-true .sign-button,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-true .fanciful-random {
  display: none;
}
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-true .fanciful-costant input,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-true .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-false .uniform-container,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-true.u-false .fanciful-random {
  display: none;
}

.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false.form-check,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false .uniform-container,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false .fanciful-proportional .sign-label,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false .fanciful-proportional .sign-button,
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false .fanciful-random {
  display: none;
}
.z4-pro .cv-true.rv-false.pv-true.csv-true.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true.form-check,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true .uniform-container,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true .fanciful-costant .sign-label,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true .fanciful-costant .sign-button,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true .fanciful-random {
  display: none;
}
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-true .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false.form-check,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false .uniform-container,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false .sign-label,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false .sign-button,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false .fanciful-random {
  display: none;
}
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false .fanciful-costant input,
.z4-pro .cv-true.rv-false.pv-true.csv-false.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-true.rv-false.pv-false.csv-true.form-check,
.z4-pro .cv-true.rv-false.pv-false.csv-true .uniform-container,
.z4-pro .cv-true.rv-false.pv-false.csv-true .fanciful-costant .value-label,
.z4-pro .cv-true.rv-false.pv-false.csv-true .fanciful-random,
.z4-pro .cv-true.rv-false.pv-false.csv-true .fanciful-proportional {
  display: none;
}
.z4-pro .cv-true.rv-false.pv-false.csv-true.fanciful-container {
  margin-top: -31px;
}
.z4-pro .cv-true.rv-false.pv-false.csv-true .fanciful-costant .sign-label {
  margin-bottom: 2px !important;
}
.z4-pro .cv-true.rv-false.pv-false.csv-true.fanciful-label {
  position: relative;
  width: 100%;
  text-align: right;
}

.z4-pro .cv-true.rv-false.pv-false.csv-false.form-check,
.z4-pro .cv-true.rv-false.pv-false.csv-false .uniform-container,
.z4-pro .cv-true.rv-false.pv-false.csv-false .fanciful-costant .value-label,
.z4-pro .cv-true.rv-false.pv-false.csv-false .sign-label,
.z4-pro .cv-true.rv-false.pv-false.csv-false .sign-button,
.z4-pro .cv-true.rv-false.pv-false.csv-false .fanciful-random,
.z4-pro .cv-true.rv-false.pv-false.csv-false .fanciful-proportional {
  display: none;
}
.z4-pro .cv-true.rv-false.pv-false.csv-false.fanciful-label {
  position: relative;
  width: 100%;
  text-align: right;
  margin-bottom: 9px;
}
.z4-pro .cv-true.rv-false.pv-false.csv-false .fanciful-costant input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-true.form-check,
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-true .uniform-container,
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-true .fanciful-costant {
  display: none;
}

.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false.form-check,
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false .uniform-container,
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false .fanciful-costant,
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false .fanciful-proportional .sign-label,
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false .fanciful-proportional .sign-button {
  display: none;
}
.z4-pro .cv-false.rv-true.pv-true.rsv-true.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-true.form-check,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-true .uniform-container,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-true .fanciful-costant,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-true .fanciful-random .sign-label,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-true .fanciful-random .sign-button {
  display: none;
}

.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false.form-check,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false .uniform-container,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false .sign-label,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false .sign-button,
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false .fanciful-costant {
  display: none;
}
.z4-pro .cv-false.rv-true.pv-true.rsv-false.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-false.rv-true.pv-false.rsv-true.form-check,
.z4-pro .cv-false.rv-true.pv-false.rsv-true .uniform-container,
.z4-pro .cv-false.rv-true.pv-false.rsv-true .fanciful-costant,
.z4-pro .cv-false.rv-true.pv-false.rsv-true .fanciful-proportional {
  display: none;
}

.z4-pro .cv-false.rv-true.pv-false.rsv-false.form-check,
.z4-pro .cv-false.rv-true.pv-false.rsv-false .uniform-container,
.z4-pro .cv-false.rv-true.pv-false.rsv-false .sign-label,
.z4-pro .cv-false.rv-true.pv-false.rsv-false .sign-button,
.z4-pro .cv-false.rv-true.pv-false.rsv-false .fanciful-costant,
.z4-pro .cv-false.rv-true.pv-false.rsv-false .fanciful-proportional {
  display: none;
}

.z4-pro .cv-false.rv-false.pv-true.psv-true.form-check,
.z4-pro .cv-false.rv-false.pv-true.psv-true .uniform-container,
.z4-pro .cv-false.rv-false.pv-true.psv-true .fanciful-costant,
.z4-pro .cv-false.rv-false.pv-true.psv-true .fanciful-random {
  display: none;
}

.z4-pro .cv-false.rv-false.pv-true.psv-false.form-check,
.z4-pro .cv-false.rv-false.pv-true.psv-false .uniform-container,
.z4-pro .cv-false.rv-false.pv-true.psv-false .sign-label,
.z4-pro .cv-false.rv-false.pv-true.psv-false .sign-button,
.z4-pro .cv-false.rv-false.pv-true.psv-false .fanciful-costant,
.z4-pro .cv-false.rv-false.pv-true.psv-false .fanciful-random {
  display: none;
}
.z4-pro .cv-false.rv-false.pv-true.psv-false .fanciful-proportional input {
  border-radius: 0.25rem !important;
}

.z4-pro .cv-false.rv-false.pv-false {
  display: none !important;
}