/*.z4-standard .fanciful-proportional {
  display: none;
}

.z4-standard .cv-true.rv-true.csv-true.rsv-true.u-true .sign-label,
.z4-standard .cv-true.rv-true.csv-true.rsv-true.u-true .sign-button {
  display: none;
}
.z4-standard .cv-true.rv-true.csv-true.rsv-true.u-true .fanciful-costant .input-group-text {
  border-radius: 0.25rem !important;
}

.z4-standard .cv-true.rv-true.csv-true.rsv-true.u-false .uniform-container {
  display: none;
}

.z4-standard .cv-true.rv-true.csv-true.rsv-false.form-check,
.z4-standard .cv-true.rv-true.csv-true.rsv-false .uniform-container,
.z4-standard .cv-true.rv-true.csv-true.rsv-false .fanciful-random .sign-label,
.z4-standard .cv-true.rv-true.csv-true.rsv-false .fanciful-random .sign-button {
  display: none;
}

.z4-standard .cv-true.rv-true.csv-false.rsv-true.form-check,
.z4-standard .cv-true.rv-true.csv-false.rsv-true .uniform-container,
.z4-standard .cv-true.rv-true.csv-false.rsv-true .fanciful-costant .sign-label,
.z4-standard .cv-true.rv-true.csv-false.rsv-true .fanciful-costant .sign-button {
  display: none;
}
.z4-standard .cv-true.rv-true.csv-false.rsv-true .fanciful-costant .input-group-text {
  border-radius: 0.25rem !important;
}

.z4-standard .cv-true.rv-true.csv-false.rsv-false.form-check,
.z4-standard .cv-true.rv-true.csv-false.rsv-false .uniform-container,
.z4-standard .cv-true.rv-true.csv-false.rsv-false .sign-label,
.z4-standard .cv-true.rv-true.csv-false.rsv-false .sign-button {
  display: none;
}
.z4-standard .cv-true.rv-true.csv-false.rsv-false .fanciful-costant .input-group-text {
  border-radius: 0.25rem !important;
}

.z4-standard .cv-true.rv-false.csv-true.form-check,
.z4-standard .cv-true.rv-false.csv-true .uniform-container,
.z4-standard .cv-true.rv-false.csv-true .fanciful-costant .value-label,
.z4-standard .cv-true.rv-false.csv-true .fanciful-random {
  display: none;
}
.z4-standard .cv-true.rv-false.csv-true.fanciful-container {
  margin-top: -31px;
}
.z4-standard .cv-true.rv-false.csv-true .fanciful-costant .sign-label {
  margin-bottom: 2px !important;
}
.z4-standard .cv-true.rv-false.csv-true .fanciful-costant .spinner {
  margin-top: -1px;
}
.z4-standard .cv-true.rv-false.csv-true.fanciful-label {
  position: relative;
  width: 100%;
  text-align: right;
}

.z4-standard .cv-true.rv-false.csv-false.form-check,
.z4-standard .cv-true.rv-false.csv-false .uniform-container,
.z4-standard .cv-true.rv-false.csv-false .fanciful-costant .value-label,
.z4-standard .cv-true.rv-false.csv-false .sign-label,
.z4-standard .cv-true.rv-false.csv-false .sign-button,
.z4-standard .cv-true.rv-false.csv-false .fanciful-random {
  display: none;
}
.z4-standard .cv-true.rv-false.csv-false.fanciful-label {
  position: relative;
  width: 100%;
  text-align: right;
  margin-bottom: 9px;
}
.z4-standard .cv-true.rv-false.csv-false .fanciful-costant .input-group-text {
  border-radius: 0.25rem !important;
}

.z4-standard .cv-false.rv-true.rsv-true.form-check,
.z4-standard .cv-false.rv-true.rsv-true .uniform-container,
.z4-standard .cv-false.rv-true.rsv-true .fanciful-costant {
  display: none;
}

.z4-standard .cv-false.rv-true.rsv-false.form-check,
.z4-standard .cv-false.rv-true.rsv-false .uniform-container,
.z4-standard .cv-false.rv-true.rsv-false .sign-label,
.z4-standard .cv-false.rv-true.rsv-false .sign-button,
.z4-standard .cv-false.rv-true.rsv-false .fanciful-costant {
  display: none;
}

.z4-standard .cv-false.rv-false {
  display: none !important;
}*/