.z4abstractfillerpanel canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/chessboard.png);
}
.z4abstractfillerpanel img {
  background-image: url(../image/chessboard.png);
}

.z4abstractfillerpanel div label img {
  width: 25px;
}

.z4abstractfillerpanel.z4linearfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/linear_stop.png);
}
.z4abstractfillerpanel.z4linearfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/linear_fill.png);
}
.z4abstractfillerpanel.z4linearfillerpanel div label:nth-child(3) img {
  content: url(../image/filler/linear_symmetric.png);
}
.z4abstractfillerpanel.z4linearfillerpanel div label:nth-child(4) img {
  content: url(../image/filler/linear_repeat.png);
}

.z4abstractfillerpanel.z4ellipticfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/elliptic_stop.png);
}
.z4abstractfillerpanel.z4ellipticfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/elliptic_fill.png);
}
.z4abstractfillerpanel.z4ellipticfillerpanel div label:nth-child(3) img {
  content: url(../image/filler/elliptic_symmetric.png);
}
.z4abstractfillerpanel.z4ellipticfillerpanel div label:nth-child(4) img {
  content: url(../image/filler/elliptic_repeat.png);
}

.z4abstractfillerpanel.z4starfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/star_stop.png);
}
.z4abstractfillerpanel.z4starfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/star_fill.png);
}
.z4abstractfillerpanel.z4starfillerpanel div label:nth-child(3) img {
  content: url(../image/filler/star_symmetric.png);
}
.z4abstractfillerpanel.z4starfillerpanel div label:nth-child(4) img {
  content: url(../image/filler/star_repeat.png);
}

.z4abstractfillerpanel.z4polygonfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/polygon_stop.png);
}
.z4abstractfillerpanel.z4polygonfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/polygon_fill.png);
}
.z4abstractfillerpanel.z4polygonfillerpanel div label:nth-child(3) img {
  content: url(../image/filler/polygon_symmetric.png);
}
.z4abstractfillerpanel.z4polygonfillerpanel div label:nth-child(4) img {
  content: url(../image/filler/polygon_repeat.png);
}

.z4abstractfillerpanel.z4conicfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/conic_no_symmetric.png);
}
.z4abstractfillerpanel.z4conicfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/conic_symmetric.png);
}

.z4abstractfillerpanel.z4spiralfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/spiral_geometric.png);
}
.z4abstractfillerpanel.z4spiralfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/spiral_logarithmic.png);
}

.z4abstractfillerpanel.z4bezierfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/bezier_stop.png);
}
.z4abstractfillerpanel.z4bezierfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/bezier_fill.png);
}
.z4abstractfillerpanel.z4bezierfillerpanel div label:nth-child(3) img {
  content: url(../image/filler/bezier_symmetric.png);
}
.z4abstractfillerpanel.z4bezierfillerpanel div label:nth-child(4) img {
  content: url(../image/filler/bezier_repeat.png);
}

.z4abstractfillerpanel.z4sinusoidalfillerpanel div label:nth-child(1) img {
  content: url(../image/filler/sinusoidal_stop.png);
}
.z4abstractfillerpanel.z4sinusoidalfillerpanel div label:nth-child(2) img {
  content: url(../image/filler/sinusoidal_fill.png);
}
.z4abstractfillerpanel.z4sinusoidalfillerpanel div label:nth-child(3) img {
  content: url(../image/filler/sinusoidal_symmetric.png);
}
.z4abstractfillerpanel.z4sinusoidalfillerpanel div label:nth-child(4) img {
  content: url(../image/filler/sinusoidal_repeat.png);
}

.z4abstractfillerpanel.z4texturefillerpanel div label:nth-child(1) img {
  content: url(../image/filler/texture_no_symmetric.png);
}
.z4abstractfillerpanel.z4texturefillerpanel div label:nth-child(2) img {
  content: url(../image/filler/texture_symmetric.png);
}
