.z4canvas {
  overflow: scroll;
  display: grid;
  grid-template: "c";
  place-items: center;
  background: #DDDDDD;
}
.z4canvas canvas {
  grid-area: c;
  pointer-events: none;
}

.z4canvas .main-canvas {
  background-image: url(../image/chessboard.png);
  pointer-events: auto;
}
