.z4canvasgridpanel {
}

.z4canvasgridpanel summary {
  padding: 0.1rem;
}

.z4canvasgridpanel summary > div {
  padding-right: 0.5rem;
}

.z4canvasgridpanel .z4canvasgridpanel-showgrid-on {
  content: url(../image/status/showgrid-on.gif);
}
.z4canvasgridpanel .z4canvasgridpanel-showgrid-off {
  content: url(../image/status/showgrid-off.gif);
}

.z4canvasgridpanel .z4canvasgridpanel-dottedgrid-on {
  content: url(../image/status/dottedgrid-on.gif);
}
.z4canvasgridpanel .z4canvasgridpanel-dottedgrid-off {
  content: url(../image/status/dottedgrid-off.gif);
}

.z4canvasgridpanel .z4canvasgridpanel-magneticgrid-on {
  content: url(../image/status/magneticgrid-on.gif);
}
.z4canvasgridpanel .z4canvasgridpanel-magneticgrid-off {
  content: url(../image/status/magneticgrid-off.gif);
}
