.z4drawingtoolpanel {
}

.z4drawingtoolpanel .z4drawingtoolpanel-selector img, .z4drawingtoolpanel-selected img {
  max-width: 25px;
  max-height: 25px;
}

.z4drawingtoolpanel .z4drawingtoolpanel-selector-stamper img, .z4drawingtoolpanel-stamper-selected img {
  content: url(../image/iterator/stamper.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-tracer img, .z4drawingtoolpanel-tracer-selected img {
  content: url(../image/iterator/tracer.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-airbrush img, .z4drawingtoolpanel-airbrush-selected img {
  content: url(../image/iterator/airbrush.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-spirograph img, .z4drawingtoolpanel-spirograph-selected img {
  content: url(../image/iterator/spirograph.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-ruler img, .z4drawingtoolpanel-ruler-selected img {
  content: url(../image/iterator/ruler.png);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-scatterer img, .z4drawingtoolpanel-scatterer-selected img {
  content: url(../image/iterator/scatterer.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-shape2d img, .z4drawingtoolpanel-shape2d-selected img {
  content: url(../image/painter/shape2d.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-drop img, .z4drawingtoolpanel-drop-selected img {
  content: url(../image/painter/drop.png);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-brush img, .z4drawingtoolpanel-brush-selected img {
  content: url(../image/painter/brush.png);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-pattern img, .z4drawingtoolpanel-pattern-selected img {
  content: url(../image/painter/pattern.gif);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-centered-figure img, .z4drawingtoolpanel-centered-figure-selected img {
  content: url(../image/painter/centered_figure.png);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-natural-figure img, .z4drawingtoolpanel-natural-figure-selected img {
  content: url(../image/painter/natural_figure.png);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-color img, .z4drawingtoolpanel-color-selected img {
  content: url(../image/filling/fill_flat.gif);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-gradient-color img, .z4drawingtoolpanel-gradient-color-selected img {
  content: url(../image/filling/fill_linear.gif);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-bigradient-color img, .z4drawingtoolpanel-bigradient-color-selected img {
  content: url(../image/filling/fill_bigradientcolor.gif);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector-color-progression img {
  content: url(../image/color/z4colorprogressionbehavior_spatial.svg);
}

.z4drawingtoolpanel-spatial-selected img {
  content: url(../image/color/z4colorprogressionbehavior_spatial.svg);
}
.z4drawingtoolpanel-temporal-selected img {
  content: url(../image/color/z4colorprogressionbehavior_temporal.svg);
}
.z4drawingtoolpanel-relativetopath-selected img {
  content: url(../image/color/z4colorprogressionbehavior_relativetopath.svg);
}
.z4drawingtoolpanel-random-selected img {
  content: url(../image/color/z4colorprogressionbehavior_random.svg);
}
.z4drawingtoolpanel-airbrush-spatial-selected img {
  content: url(../image/color/z4colorprogressionbehavior_airbrush_spatial.svg);
}
.z4drawingtoolpanel-airbrush-temporal-selected img {
  content: url(../image/color/z4colorprogressionbehavior_airbrush_temporal.svg);
}
.z4drawingtoolpanel-airbrush-relativetopath-selected img {
  content: url(../image/color/z4colorprogressionbehavior_airbrush_relativetopath.svg);
}
.z4drawingtoolpanel-airbrush-random-selected img {
  content: url(../image/color/z4colorprogressionbehavior_airbrush_random.svg);
}

.z4drawingtoolpanel .z4drawingtoolpanel-preview {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/util/chessboard.png);
  border-radius: var(--roundness);
}
.z4drawingtoolpanel .z4drawingtoolpanel-transparent {
  background-image: url(../image/util/chessboard.png);
}