.z4drawingtoolpanel {
}

.z4drawingtoolpanel .z4drawingtoolpanel-selector img {
  max-width: 25px;
  max-height: 25px;
}

.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(1) img, .z4drawingtoolpanel-stamper-selected {
  content: url(../image/iterator/stamper.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(2) img, .z4drawingtoolpanel-tracer-selected {
  content: url(../image/iterator/tracer.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(3) img, .z4drawingtoolpanel-airbrush-selected {
  content: url(../image/iterator/airbrush.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(4) img, .z4drawingtoolpanel-spirograph-selected {
  content: url(../image/iterator/spirograph.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(5) img, .z4drawingtoolpanel-shape2d-selected {
  content: url(../image/painter/shape2d.svg);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(6) img, .z4drawingtoolpanel-centered-figure-selected {
  content: url(../image/painter/centered_figure.png);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(7) img, .z4drawingtoolpanel-color-selected {
  content: url(../image/filling/fill_flat.gif);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(8) img, .z4drawingtoolpanel-gradient-color-selected {
  content: url(../image/filling/fill_linear.gif);
}
.z4drawingtoolpanel .z4drawingtoolpanel-selector:nth-child(9) img, .z4drawingtoolpanel-bigradient-color-selected {
  content: url(../image/filling/fill_bigradientcolor.gif);
}
