.z4droppainterpanel {
}

.z4droppainterpanel .z4droppainterpanel-radio img {
}
.z4droppainterpanel .z4droppainterpanel-radio:nth-child(1) img {
  content: url(../image/painter/drop_thousand_points.png);
}
.z4droppainterpanel .z4droppainterpanel-radio:nth-child(2) img {
  content: url(../image/painter/drop_thousand_lines.png);
}
.z4droppainterpanel .z4droppainterpanel-radio:nth-child(3) img {
  content: url(../image/painter/drop_thousand_areas.png);
}