.z4gradientcolorpanel canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/util/chessboard.png);
}
.z4gradientcolorpanel .z4gradientcolorpanel-history img {
  content: url(../image/util/history.svg);
  width: 1.143rem;
}

.z4gradientcolorpanel-scrollpanel {
  overflow-y: scroll;
}
.z4gradientcolorpanel-historypanel {
  width:100%;
}
.z4gradientcolorpanel-historypanel canvas {
  border-radius: var(--roundness);
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/util/chessboard.png);
  cursor: pointer;
}
