.z4historypreview {
  margin-right: 2px;
}

.z4historypreview summary canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/util/chessboard.png);
}

.z4historypreview summary button {
  pointer-events: auto;
  border: none;
  padding: 1px 2px;
}

.z4historypreview summary .z4historypreview-selector {
  font-family: monospace;
}

.z4historypreview .z4historypreview-editor canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/util/chessboard.png);
}