.z4layerpreview {
  margin-right: 2px;
}

.z4layerpreview summary label {
  font-size: calc(var(--font-size) - 0.15rem);
  text-wrap: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.z4layerpreview summary canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/chessboard.png);
}

.z4layerpreview summary button {
  pointer-events: auto;
  border: none;
  padding: 1px 2px;
  max-height: 15px;
}

.z4layerpreview .z4layerpreview-editor[offset=true], .z4layerpreview .z4layerpreview-editor[offset=true] * {
  background: transparent;
}