.z4layerpreview {
  font-family: var(--font-family);
  font-size: var(--font-size);
  color: var(--main-color);

  border: 2px solid var(--main-action-bgcolor);
  border-radius: var(--roundness);
}
.z4layerpreview:hover:not([disabled]), .z4layerpreview:has(summary:focus) {
  box-shadow: .15rem .15rem .15rem var(--main-action-bgcolor);
}
.z4layerpreview[disabled] {
  filter: opacity(0.5);
  cursor: default;
  pointer-events: none;
}

.z4layerpreview summary {
  list-style: none;
  cursor: pointer;
  padding: .5rem;
  min-height: 2.4ex;
  display: flex;
  justify-content: space-between;
  align-items: center;

  outline: none;
}
.z4layerpreview summary::-webkit-details-marker {
  display: none;
}
.z4layerpreview summary::after {
  content: "\25BC";
  color: var(--main-action-bgcolor);
}
.z4layerpreview summary * {
  cursor: pointer;
  pointer-events: none;
}

.z4layerpreview summary label {
  font-size: calc(var(--font-size) - 0.15rem);
  text-wrap: nowrap;
  text-align: center;
  text-overflow: ellipsis;
  overflow: hidden;
}

.z4layerpreview summary canvas {
  border: 1px solid var(--main-action-bgcolor);
}

.z4layerpreview .z4layerpreview-editor {
    z-index: 100;
    position: absolute;
    margin: .5rem 0 0 0;
    padding: .5rem;
    box-shadow: 0 0 .5rem var(--main-action-bgcolor);
    border-radius: .5rem;
    background: var(--main-bgcolor);
    visibility: hidden;
    top: 0px;
    left: 0px;
}
