.z4mergeconnectgeometricshapepanel {
}

.z4mergeconnectgeometricshapepanel .z4mergeconnectgeometricshapepanel-selected {
  height: 100px;
  width: 40rem;
  overflow-x: scroll;
  border: 2px solid var(--main-action-bgcolor);
  border-radius: var(--roundness);
  padding: 2px;
}

.z4mergeconnectgeometricshapepanel .z4mergeconnectgeometricshapepanel-container {
  height: 30rem;
  overflow-y: scroll;
}

.z4mergeconnectgeometricshapepanel canvas {
  border: 1px solid var(--main-action-bgcolor);
  background-color: white;
}