.z4ribbonhelppanel {
}
.z4ribbonhelppanel-about .z4ribbonhelppanel-splash {
  content: url(../image/splash/splash.png);
}
.z4ribbonhelppanel-about p, .z4ribbonhelppanel-about ul {
  margin: 5px 0px 0px 0px;
}

.z4ribbonhelppanel .z4check-install, .z4ribbonhelppanel .z4check-update {
  display: none;
}
.z4ribbonhelppanel .z4check-install span {
  margin-top: -3px;
}
