.z4ribbontextpanel {
}

.z4ribbontextpanel .z4ribbontextpanel-editor[transparent=true] > :not(summary), .z4ribbontextpanel .z4ribbontextpanel-editor[transparent=true] > :not(summary) * {
  background: transparent !important;
}

.z4ribbontextpanel .z4ribbontextpanel-text-color-dropdown summary canvas {
  border-radius: calc(var(--roundness) + .1rem);
  border: 1px solid var(--main-action-bgcolor);
  background-image: url(../image/util/chessboard.png);
}