.z4shapesandpathspanel {
  border-radius: var(--roundness);
  border-color: var(--main-action-bgcolor);
  margin: 1px !important;
  min-width: 14.1rem;
}

.z4shapesandpathspanel fieldset {
  border-radius: var(--roundness);
  border-color: var(--main-action-bgcolor);
}