.z4shapesandpathspanel {
  border-radius: var(--roundness);
  border: 2px solid var(--main-action-bgcolor);
  margin: 1px !important;
  width: 12rem;
}

.z4shapesandpathspanel > label {
  background: white;
  padding: 0px 2px;
}