.z4signpanel {
}

.z4signpanel label img {
  width: 16px;
  height: 16px;
}
.z4signpanel label:nth-child(1) img {
  content: url(../image/math/z4signbehavior_positive.svg);
}
.z4signpanel label:nth-child(2) img {
  content: url(../image/math/z4signbehavior_negative.svg);
}
.z4signpanel label:nth-child(3) img {
  content: url(../image/math/z4signbehavior_random.svg);
}
.z4signpanel label:nth-child(4) img {
  content: url(../image/math/z4signbehavior_alternate.svg);
}