.z4statuspanel {
}

.z4statuspanel > label, .z4statuspanel .jscombobox summary label {
  font-size: smaller;
}

.z4statuspanel .jscombobox {
  border-width: 0px;
}
.z4statuspanel .jscombobox summary {
  min-height: 0px;
}

.z4statuspanel .z4statuspanel-projectname {
  width: 20rem;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.z4statuspanel .z4drawingpicker {
  padding: 0px;
  border-width: 0px;
}
.z4statuspanel .z4drawingpicker img {
  width: 11px;
  height: 11px;
  content: url(../image/color/picker.gif);
}

.z4statuspanel .z4drawingdirection img {
  width: 14px;
  height: 14px;
}
.z4statuspanel .z4drawingdirection-free img {
  content: url(../image/status/drawingdirection-free.gif);
}
.z4statuspanel .z4drawingdirection-horizontal img {
  content: url(../image/status/drawingdirection-horizontal.gif);
}
.z4statuspanel .z4drawingdirection-vertical img {
  content: url(../image/status/drawingdirection-vertical.gif);
}